:host,
.three-d-slider-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  position: relative;
}

.three-d-slider-track {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.three-d-slide {
  position: absolute;
  top: 0;
  left: 50%;
  width: 90%;
  height: 100%;
  min-width: 180px;
  max-width: 500px;
  min-height: 120px;
  max-height: 600px;
  transform: translateX(-50%);
  transition: transform 0.48s cubic-bezier(0.36, -0.14, 0.44, 1.18), opacity 0.4s, z-index 0s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.three-d-slide img {
  width: auto;
  height: auto;
  object-fit: contain;
  max-width: 400px;
  max-height: 800px;
  pointer-events: none;
  user-select: none;

  @media screen and (max-width: 768px) {
    max-height: 400px !important;
  }
}

.three-d-slide.side {
  filter: brightness(0.7);
}

.three-d-slide.center {
  z-index: 3;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000;
  pointer-events: auto;
  border: none;
  color: #fff;
  font-size: 2rem;
  width: 48px;
  height: 64px;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
}

.arrow.left {
      position: absolute;
    left: 15px;
  background-color: transparent;
  transition: all 0.3s;
  font-size: 40px;
  color: rgb(255, 255, 255);
  font-weight: 400;
}
.arrow.right {
      right: 0;
    position: absolute;
  background-color: transparent;
  transition: all 0.3s;
  font-size: 40px;
  color: rgb(255, 255, 255);
  font-weight: 400;
  z-index: 9999;
}
.arrow:hover {
  font-size: 50px;
}

.dragging .three-d-slide {
  transition: none !important;
}

@media (max-width: 900px) {
  .three-d-slider-track,
  .three-d-slide {
    width: 100%;
    height: 100vw;
    min-height: 700px;
  }
  .three-d-slide {
    width: 90%;
  }
}
@media (max-width: 600px) {
  .three-d-slider-track,
  .three-d-slide {
    width: 100%;
    height: 100vw;
    min-height: 600px;
  }
  .three-d-slide {
    width: 90%;
  }
  .arrow {
    width: 36px;
    height: 48px;
    font-size: 1.4rem;
  }
  .arrow.right {
    right: 0;

  }
  .arrow.left{
    left: 0px;
  }
}
